<p class="social-icons">
  As an icon font: 
  {% for item in socialLinks %}
    <a class="icon -{{ item.id }}" href="{{ item.url }}">
      <span class="screenreader">{{ item.title }}</span>
    </a>
  {% endfor %}
</p>