@include font-face(FiraSans, '../fonts/FiraSans-Regular');
@include font-face(FiraSans, '../fonts/FiraSans-Medium', bold);

body {
  @include font-smoothing;
  color: $viu-darkblue;
  font-family: FiraSans, sans-serif;
  font-size: 1.25em;
  padding: 5%;
  text-align: center;
}

small {
  font-size: .75em;
  margin-top: .25em;
}

code {
  background-color: $light-grey;
  border-radius: 3px;
  display: inline-block;
  font-family: monospace;
  font-size: 1.25em;
  padding: .25em .5em;
}

a {
  color: $red;
  opacity: 1;
  text-decoration: none;
  // autoprefixer will prefix this for you!
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .75;
  }
}

.screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.highlight {
  background-color: $viu-turqoise;
  color: $white;
}

.icon {
  font-size: 32px;
  margin: 4px;

  &.-instagram {
    color: $dark-grey;
  }

  &.-facebook {
    color: $facebook-blue;
  }

  &.-twitter {
    color: $twitter-blue;
  }
}

.sprite {
  display: inline-block;
  fill: currentColor;
  margin: 8px;
  width: 32px;

  &.-instagram {
    fill: $dark-grey;
  }

  &.-facebook {
    fill: $facebook-blue;
  }

  &.-twitter {
    fill: $twitter-blue;
  }

  // 2 Dynamic colors + hard coded colors!
  &.-viget {
    color: $viu-warmred;
    fill: $viu-turqoise;
    width: 180px;
    // Viget text color hard coded in svg fill attribute
  }
}
